.logo {
	font-family: 'arial black';
	font-size: 4rem;
	color: #383838
}

.logo:hover {
	cursor: pointer;
	text-shadow: 2px 4px 4px #999
}

.sub-heading {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'arial black';
	font-size: 2rem;
	color: #383838
}

.status-bar {
	position: sticky;
	top: 20px;
	margin: 20px;
	margin-top: 75px;
	border: 1px solid black;
	border-radius: 20px;
}

.sub-sub-heading {
	text-align: center;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'arial black';
	font-size: 1rem;
	color: #383838
}
.content-main {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #fff;
}

.bordered {
	border: 1px solid black
}

.styled-link {
	border: 1px solid 'light-blue';
	border-radius: 5px;
}

.hover-pointer:hover {
	cursor: pointer;
	text-shadow: 1px 2px 3px gray
}

.title {
	text-align: center;
}

div {
	padding: 5px;
	margin: 5px
}
