.logo {
	font-family: 'arial black';
	font-size: 4rem;
	color: #383838
}

.logo:hover {
	cursor: pointer;
	text-shadow: 2px 4px 4px #999
}

.sub-heading {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'arial black';
	font-size: 2rem;
	color: #383838
}

.status-bar {
	position: sticky;
	top: 20px;
	margin: 20px;
	margin-top: 40px;
	border: 1px solid #c0c0c0;
	border-radius: 20px;
}

.sub-sub-heading {
	text-align: center;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'arial black';
	font-size: 1rem;
	color: #383838
}
.content-main {
	box-shadow: inset 1px 2px 4px  #C0C0C0 ;
	border-radius: 10px;
	background-color: #fff;
}

.bordered {
	border: 1px solid #8c8c8c;
}

.styled-link {
	border: 1px solid 'light-blue';
	border-radius: 5px;
}

.hover-pointer:hover {
	cursor: pointer;
	text-shadow: 1px 2px 3px gray
}

.title {
	text-align: center;
}

div.ticketPreview {
	margin-bottom: 10px;
	box-shadow: 2px 2px 4px #8c8c8c;
}

div.ticketPreview:hover {
	margin-bottom: 10px;
	box-shadow: 0 1px 2px 2px #8c8c8c;
	border: 1px solid #8c8c8c;
}

.nav-tabs .active {
	box-shadow: 2px 1px 4px #C0C0C0;
	border: 1px solid #C0C0C0;
}

#search-toggle-btn, #new-ticket-btn, #new-client-toggle, #new-courier-toggle, #search-invoice, #newInvoice{
	box-shadow: 2px 1px 4px #C0C0C0;
	border: 0;
}

.list-main {
	border: 1px solid #000;
	border-style: solid;
	border-top-color: #c0c0c0;
	border-radius: 20px;
	border-image: linear-gradient(
      to bottom,
      #c0c0c0,
      rgba(0, 0, 0, 0)
    ) 2 10%;
}

#ticketPagination {
	margin-left: auto;
	margin-right: auto
}

#toast-container {
	z-index: 99999999;
}
